/**
 * Created 12.3.2021..
 */

.row-wrap {
    margin-bottom: 0;
}

h4 {
    font-size: 24px;
    color: var(--c-color-text);
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 40px;
}

h5 {
    font-size: 20px;
    color: var(--c-color-text);
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 40px;
}

.info-line {
    display: list-item;
    list-style-type: disc;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 6px;
}

.info {
    margin-bottom: 42px;
}

.total-payment {
    margin-top: 14px;
    padding-right: 12px;
}

.header-notice {
    font-weight: 500;
    padding-top: 11px;
    color: var(--c-color-secondary);
}

.bundle-edit {
    margin-bottom: 12px;
}

h5.covid-test {
    margin-top: 8px;
}