/**
 * Created 25.3.2021..
 */

.basket-item {
    min-height: 65px;
}

.typeclass {
    border-radius: 2px;
    width: 12px;
    height: 21px;
    margin-right: 6px;
    display: inline-block;
    opacity: 0.6;
}


.edit-options {
    font-size: 0.9rem;
    float: left;
    padding-left: 16px;
}

.edit-options a {
    font-variant: all-small-caps;
    font-size: 1rem;
    margin-right:1.6rem;
}