/**
 * Created 8.9.2021..
 */

.submit-button
{
    margin-bottom:72px;
}

.submit-button .bu
{
    margin-bottom:80px;
}

.subheading
{
    padding-bottom:0;
    padding-top: 14px;
}

.slds-form-element__label.slds-text-color_error
{
    color: var(--lwc-colorTextError,rgb(234, 0, 30)) !important;
}